
$icon-add_circle: "\e900";
$icon-arrow_lift: "\e901";
$icon-check_circle: "\e902";
$icon-close: "\e903";
$icon-favorite: "\e904";
$icon-keyboard_arrow_right: "\e905";
$icon-remove_circle_outline: "\e906";
$icon-shopping_cart: "\e907";
$icon-thumb_down: "\e908";
$icon-thumb_up: "\e909";

